input[type="text"],
input[type="email"]{
  width: 20rem;
  padding: 8px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  align-items: center; /* o center si querés centrarlos */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

button.delete-btn {
  background: none;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button.delete-btn:hover {
  text-decoration: underline;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

dialog p {
  margin-bottom: 20px;
}

dialog button {
  margin-right: 10px;
  padding: 8px 12px;
}

/* Estilo para los campos <p> que muestran datos */
.profile-value {
  margin: 8px 0;
  padding: 8px 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

/* Ocultar elementos dinámicamente desde JS */
.hidden {
  display: none;
}

form button {
  width: 30%;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.action-buttons button {
  width: auto;
  min-width: 6rem;
}

#deleteUserBtn {
  font-weight: lighter;
}

#deleteUserBtn:hover {
  text-decoration: underline;
  background-color: white;
}

/* Ajustes responsive opcionales */
@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    align-items: stretch;
  }

  #deleteUserBtn {
    font-size: 0.85rem;
    margin-top: 1.5rem;
  }
}
